<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Data Driven Test">

	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter"/>
		<listener class-name="com.w2a.listeners.CustomListeners"/>
	</listeners>

 <test name="Parallescoretest" >
    <classes>
      <class name="com.w2a.testcase.Parallelscoretest"/>
    </classes>
    
 </test> <!-- Test -->
  
 <test name="Parallescoretest" >
    <classes>
      <class name="com.w2a.testcase.Parallescoretest"/>
    </classes>
    
 </test> <!-- Test -->
 
</suite> <!-- Suite -->
